<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="{{  url_for ('static', filename='bootstrap.css')}}">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="/login" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
  </div>

  </div>
  <input type="submit" value="submit" name="submit">
</form>

</body>
</html>